@import "tailwindcss";
@theme {
  --color-bg-green: #67efc892;
}

:root {
  --background: #67efc892;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.home {
  background-image: url("../public/image/bg.webp");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

button {
  cursor: pointer;
}

.course {
  background-image: url("../public/image/back.webp");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
